.boardHomePage {
    position: absolute;
    width: 90vw;
    height: 38vw;
    left: 3.5vw;
    top: 8.5vw;
    background: #ffffff9c;
    border-radius: 7px;
    box-shadow: 10px 0px 20px 1px rgb(192, 192, 192);
}