@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");

.App {
}

/* button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background: #c23866;
  color: #fff;
} */


.video {
  position: absolute;
  width: "100%";
  left: "50%";
  top: "50%";
  height: "100%";
  object-fit: cover;
  transform: "translate(-50%, -50%)";
  z-index: "-1";
}
