body {
font-family: sans-serif;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background-image: url("../public/img/background/6874273.svg");
  background-repeat: none;
  background-size: cover;


}
